<div class="row around-xs">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="ui statistics">
            <div class="statistic">
                <div class="value">
                9,900
                </div>
                <div class="label">
                Views
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="ui statistics">
            <div class="statistic">
                <div class="value">
                <i class="plane icon"></i> 5
                </div>
                <div class="label">
                Flights
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="ui statistics">
            <div class="statistic">
                <div class="value">
                    <i class="users icon"></i> 8,888
                </div>
                <div class="label">
                Members
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="ui statistics">
            <div class="statistic">
                <div class="value">
                9,900
                </div>
                <div class="label">
                Views
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row around-xs">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="ui card">
            <div class="ui embed" data-source="youtube" data-id="O6Xo21L0ybE" data-placeholder="img/video.jpg"></div>
            <div class="content">
                <a class="header" href="#">Steve Jobes</a>
                <div class="meta">
                <a>Last Seen 2 days ago</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="ui card">
            <div class="ui embed" data-source="youtube" data-id="O6Xo21L0ybE" data-placeholder="img/video.jpg"></div>
            <div class="content">
                <a class="header" href="#">Steve Jobes</a>
                <div class="meta">
                <a>Last Seen 2 days ago</a>
                </div>
            </div>
        </div>
    </div>

</div>