<div class="row center-xs middle-xs" style="min-height: 320px">
    <div class="col-md-6 col-sm-8 col-xs-12">
        <div class="ui tall stacked segment">
            <h1 class="ui header">Admin Hadarone</h1>
            <h3 class="ui header">{{page.title}}</h3>
            <div>{{{page.description}}}</div>
        </div>
    </div>
</div>