<div class="row center-xs" style="min-height: 320px">
    <div class="col-md-6 col-sm-8 col-xs-12">
        <div class="ui tall stacked segment">
            <h2 class="ui header">{{{__ "change_password"}}}</h2>
            <form id="form-change-password" class="ui form" method="POST" action="/auth/change-password">
                <input id="email" type="hidden" name="email" placeholder="Email"/>
                <input id="token" type="hidden" name="token" placeholder="Token"/>
                <div class="field">
                    <label>New password</label>
                    <input id="password" type="password" name="password" placeholder="Password" required/>
                </div>
                <div class="field">
                    <label>Confirm password</label>
                    <input type="password" name="password_confrim" placeholder="Password confirm" oninput="UTILS.compareInput(this, document.getElementById('password'))" required/>
                </div>
                <div class="ui large buttons">
                    <button class="ui button green" type="submit">OK</button>
                </div>
            </form>
        </div>
        <div id="message"></div>
    </div>
</div>
<script>
    $(function(){
        // check
        var url_string = window.location.href;
        var url = new URL(url_string);
        var email = url.searchParams.get("email");
        var token = url.searchParams.get("token");
        if(email && token){
            $("#email").val(email);
            $("#token").val(token);
        }
        else{
            window.location = "/404";
        }
        
        //submit
        $("#form-change-password").submit(function(e){
            e.preventDefault();

            var data = $(this).serialize();
            var action = $(this).attr('action');
            $.post(action, data, function(result){
                if(!result) return false;
                var alert = $('<div class="ui error message">'+
                                        '<div class="header">'+
                                            result.message+
                                        '</div>'+
                                    '</div>');
                    $('#message').prepend(alert);

                if(typeof(result.error) === "undefined" || result.error){
                    alert.fadeOut(5000, function() { $(this).remove(); });
                }
                else{
                    alert.removeClass('error').addClass('success');
                    alert.fadeOut(2000, function() {
                        $(this).remove();
                        window.location = "/";
                    });
                }
            });
        });

    })
</script>