<div class="row">
    <div class="col-xs-12">
        <div class="ui card">
            <div class="content">
                <div class="header">{{items._id}}</div>
                <div class="meta">
                    <span>2 days ago</span>
                    <a>Animals</a>
                </div>
                <div class="description">
                    {{items.name}}
                </div>
            </div>
            <a class="ui bottom button" href="/example/edit/{{items._id}}">
                <i class="edit icon"></i>
                Edit
            </a>
        </div>
    </div>
</div>